/* Small screens (default) */
html {
  font-size: 100%;
}

img{
  max-width: 100%;
  max-height: auto;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 60rem;
  width: 90%;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  *zoom: 1;
}

#header{
  display: block;
  margin: 0em;
  padding: 0em;
}

#main{
  display: block;
  margin: 0em;
  padding: 0em;
  background: none;
}

#post{
  display: block;
  margin: 0em;
  padding: 0em;
  background: #bbb;
}

#content{
  display: block;
  margin: 0em;
  padding: 0em;
  background: #ccc;
}

#sidebar{
  display: block;
  margin: 0em;
  padding: 0em;
  background: #ddd;
}

#footer{
  display: block;
  margin: 0em;
  padding: 0em;
  background: #eee;
}

.social{
  display: block;
  list-style: none;
  padding: 0em;

}
 
.social li{
  display: block;
  padding: 0.2em;
  float: left;
  text-align: center;
  width: 20%;
}

.logo{
  display: block;
  padding: 2em 0;
  text-align: center;
}
 
/* Medium screens (640px) */
@media (min-width: 40rem) {

  html {
    font-size: 112%;
  }

  .column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .column.full {
    width: 100%;
  }
  .column.three-fourth {
    width: 74.85%;
  }
  .column.two-thirds {
    width: 66.7%;
  }
  .column.half {
    width: 50%;
  }
  .column.third {
    width: 33.3%;
  }
  .column.fourth {
    width: 24.95%;
  }
  .column.flow-opposite {
    float: right;
  }

}
 
/* Large screens (1024px) */
@media (min-width: 64rem) { 

  html {
    font-size: 120%;
  }

}